{% set order = hookable_metadata.context.order %}
{% set prefixes = hookable_metadata.prefixes|merge(['sylius_shop.shared']) %}

{% set packeta = order.shipments.last.packeta %}
{% if packeta %}
    <address>
        {{ 'threebrs.shop.checkout.complete.packetaBrach'|trans }}<br>
        <strong>
            <a href="{{ packeta['url'] is defined ? packeta['url'] : 'https://www.packeta.cz/pobocky/' ~ packeta['id'] }}"
               target="_blank" rel="noopener">
                {{ packeta['place'] is defined ? packeta['place'] : '' }}
            </a>
        </strong>
        <br>
        {% if packeta['street'] is defined and packeta['city'] is defined and packeta['zip'] is defined %}
            {{ packeta['street'] }}<br/>
            {{ packeta['city'] }}, {{ packeta['zip'] }}<br/>
        {% elseif packeta['nameStreet'] is defined %}
            {{ packeta['nameStreet'] }}<br/>
        {% elseif packeta['name'] is defined %}
            {{ packeta['name'] }}<br/>
        {% endif %}
        {% if packeta['country'] is defined %}
            <i class="{{ packeta['country']|lower }} flag"></i>
            {{ packeta['country']|upper|sylius_country_name|upper }}
        {% endif %}
    </address>
{% else %}
    {% include '@SyliusShop/shared/address.html.twig' %}
{% endif %}
