{% set order = hookable_metadata.context.resource %}

{% set zasilkovna = order.shipments.last.zasilkovna %}
{% if zasilkovna %}
    <div>
        <strong>{{ 'sylius.ui.shipping_address'|trans }}:</strong>
    </div>
    <div class="mb-3" {{ sylius_test_html_attribute('shipping-address') }}>
        <address>
            {{ 'threebrs.shop.checkout.complete.zasilkovnaBrach'|trans }}<br>
            <strong>
                <a href="{{ zasilkovna['url'] is defined ? zasilkovna['url'] : 'https://www.zasilkovna.cz/pobocky/' ~ zasilkovna['id'] }}"
                   target="_blank" rel="noopener">
                    {{ zasilkovna['place'] is defined ? zasilkovna['place'] : '' }}
                </a>
            </strong>
            <br>
            {% if zasilkovna['street'] is defined and zasilkovna['city'] is defined and zasilkovna['zip'] is defined %}
                {{ zasilkovna['street'] }}<br/>
                {{ zasilkovna['city'] }}, {{ zasilkovna['zip'] }}<br/>
            {% elseif zasilkovna['nameStreet'] is defined %}
                {{ zasilkovna['nameStreet'] }}<br/>
            {% elseif zasilkovna['name'] is defined %}
                {{ zasilkovna['name'] }}<br/>
            {% endif %}
            {% if zasilkovna['country'] is defined %}
                {{ zasilkovna['country']|upper|sylius_country_name|upper }}
            {% endif %}
        </address>
    </div>
{% else %}
    {% include '@SyliusAdmin/order/show/content/sections/customer/shipping_address.html.twig' %}
{% endif %}
